<div class="mt-4">
    <div>
      <h3>Danh sách sách</h3>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Tên chi nhánh</th>
                <th scope="col">Tình trạng</th>
                <th scope="col">Năm xuất bản</th>
                <th scope="col">Tên tựa sách</th>
            </tr>
        </thead>
        <tbody>
            {{#each Books}}
            <tr>
                {{!-- <th scope="row">{{sum @index 1}}</th> --}}
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.status}}</td>
                <td>{{this.publish}}</td>
                <td>{{this.book_title_name  }}</td>
                {{!-- <td>
                  <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_account_modal" data-id="{{this._id}}"> Xóa </a>
                </td> --}}
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Chưa có quyển sách nào
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
